/*----------------
 Common styles 
 ----------------*/
/* font-family: 'Chakra Petch',sans-serif;
font-family: 'Poppins',sans-serif; */

 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 main{
    margin: 50px 140px 0px 140px;
    font-family: 'Poppins', sans-serif;
 }

 /* ----------------
 banner section style 
 --------------------- */
 .banner{
    display:flex;
    /* width: 100%; */
    /* grid-template-columns: repeat(2,1fr); */
    background-color: #161616;
    border-radius: 30px;
    color: white;
    /* padding-top: 100px; */
    /* padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0; */
    align-items: center;
    margin-bottom: 130px;
    position: relative;
 }
 .bannerDetails{
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    width: 40%;
 }
 .bannerDetails h1{
    /* margin-left: 100px; */
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;

    animation-name: animTwo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
 }
 .bannerDetails button{
    margin-top: 15px;
    color: white;
    background-color: #DD0000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
 }
 .bannerDetails button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
 }
 .bannerImg{
    width: 45%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: -7px;
    right: 0;
 }
 .bannerImg img{
    width: 100%;
    
    /* animation-name: animOne;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
 }

 /* style for banner pic animation  */
 /* @keyframes animOne {
     0% {
         opacity: 1;
     }

     10% {
         opacity: 0.80;
     }

     20% {
         opacity: 0.60;
     }

     30% {
         opacity: 0.40;
     }

     40% {
         opacity: 0.20;
     }
     50% {
         opacity: 0.10;
     }
     60% {
         opacity: 0.20;
     }
     70% {
         opacity: 0.40;
     }
     80% {
         opacity: 0.60;
     }
     90% {
         opacity: 0.80;
     }
     100% {
         opacity: 1;
     }
 } */

 /* style fot heading animation  */
@keyframes animTwo {
    0% {
        color: white;
    }

    /* 25% {
        color: yellow;
    } */

    50% {
        color:#DD0000;
    }

    100% {
        color: white;
    }
}

 /* ----------------------------
 main tile and menu section style
 -------------------------------  */
 .menuFeedContainer{
   
    display: grid;
    grid-template-columns: 1fr 3.4fr;
    gap: 24px;
 }
 .menubar{
    min-width:200px;
    height: 200px;
    padding: 30px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 10px;
    
 }
 .menubar div{
    /* width: 252px; */
    height: 64px;
    padding:5px ;
    background-color: white;
    border-radius: 10px;
    text-align: center;

 }
 .menubar div a{
    text-decoration: none;
    display: block;
    margin-top: 6px;
    color: black;
    
 }
 /* .menubar a::after{
    background-color: #DD0000;
    color: white;
 } */


/* card alignment */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}


 /* card design  */
 .blogCard{
    border: 1px solid rgba(128, 128, 128,0.2);
    border-radius: 10px;
 }
.blogCard img{
    width: 100%;
}
.cardDetails{
    margin: 20px;
}
.cardDetails button{
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: 500;
}
.cardDetails p{
    font-weight: 600;
    font-size: 18px;
}
.cardLogo{
    opacity: 0.7;
    display: flex;
    gap: 30px;
    margin: 20px;
}
.cardLogo i{
    margin-right: 5px;
}

/* hidden view allsection */
.viewAll{
    display: none;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.viewAll button{
    color: white;
    background-color: #DD0000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


/* ---------------
footer design 
--------------- */
footer{
    margin-top: 130px;
    padding: 10%;
    text-align: center;
    color: white;
    min-height: 244px;
    background-color: #161616;
}
footer h2{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
footer hr{
    margin: 5% 5%;
    opacity: 0.1;
}
.footerMenu a{
    opacity: 0.6;
    text-decoration: none;
    color: white;
}
.footerMenu{
    display: flex;
    column-gap: 60px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.socialLink{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.socialLink a{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: rgb(215, 210, 210);
    color:#DD0000;
    border-radius: 50%;
    font-size: 25px;
}

/* ------------------------------
upcoming matches section design 
--------------------------------- */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.match {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    padding: 40px;
}
.match span{
    font-weight: 700;
}
.flags{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.flags img{
    width: 100%;
}
.matchDescription{
    text-align: center;
}
.matchDescription p{
    opacity: 0.8;
}

/* -------------------------- */
/* ========================== */
/* -------------------------- */




/* -----------------
responsive for tablet
--------------------- */
@media screen and (min-width:768px) and (max-width:1024px) {
    /* ----------------
     banner section style 
     --------------------- */
        main {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 0;
            /* background-color: #161616; */
        }
        .banner{
            margin-bottom: 50px;
        }
        .bannerDetails{
            margin-left: 50px;
        }
        .bannerImg{
            width: 50%;

            
        }

        
        .bannerDetails h1{
            font-size: 40px;
        }

        /* menubar style  */
        .menuFeedContainer {
        
            display: flex;
            flex-direction: column;
            /* gap: 24px; */
        }
        .menubar{
            background-color: white;
            flex-direction: row;
            justify-content: space-between;
            height: 30px;

        }
        .menubar div{
            width: 30%;
            height:40px;
            border: 1px solid rgba(128, 128, 128, 0.2);
        }

        /* blog section style  */
        .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
        }

        /* matches section style  */
        .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
        }
        /* hidden section visibility  */
        .viewAll{
            display: block;
        }

        /* footer section style  */
        footer{
            margin-top: 0;
            min-height: 200px;
        }
        footer hr {
        margin: 50px 0;
        }
}

/* -------------------------- */
/* ========================== */
/* -------------------------- */


/* -----------------
responsive for mobile
--------------------- */
@media screen and (max-width:767px) {
    main{
            margin: 0px 20px;
    }


    /* banner section design  */
    .banner{
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: static;
    }
    .bannerDetails{
        width: 70%;
        margin-left: 5px;
        margin-bottom: 10px;
        padding: 10px 30px;
        
        /* margin-bottom: 200px; */
    }
    .bannerImg{
        width: 70%;
        position: static;
        margin-bottom: -7px;
    }
    .bannerDetails h1 {
    font-size: 22px;
    }
    .bannerDetails p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 300;
        opacity: 0.85;
    }
    .bannerDetails p:hover{
        white-space: normal;
    }

    /* menubar style  */
    .menuFeedContainer {
        display: flex;
        flex-direction: column;
        
    }
    .menubar {
    background-color: white;
    }
    .menubar div {
        width: 95%;
        height: 40px;
        border: 1px solid rgba(128, 128, 128, 0.2);
    }
    /* blog section style  */
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;

    }

    /* footer style  */
    footer{
        margin-top: 20px;
        /* padding: 10px 0; */
    }
    footer h2{
        margin-top: 5px;
        font-size: 22px;
    }
    .footerMenu{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
    }
    /* footer hr {
        margin: 50px 100px;
    
    } */

}