/*----------------
 Common styles 
 ----------------*/
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 main{
    margin: 50px 140px 0px 140px;
 }

 /* ----------------
 banner section style 
 --------------------- */
 .banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #161616;
    border-radius: 30px;
    color: white;
    /* padding-top: 100px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
    align-items: center;
    margin-bottom: 130px;
 }
 .bannerDetails{
    margin-bottom: 100px;
 }
 .bannerDetails h1{
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 0;
 }
 .bannerDetails button{
    margin-top: 15px;
    color: white;
    background-color: #DD0000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
 }
 .bannerImg{
    position: relative;

 }
 .bannerImg img{
    width: 100%;
    position: absolute;
    top: -190px;
    right: -50px;
    
 }


 /* ----------------------------
 main tile and menu section style
 -------------------------------  */
 .menuFeedContainer{
   
    display: grid;
    grid-template-columns: 1fr 3.4fr;
    gap: 24px;
 }
 .menubar{
    padding: 30px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 10px;
    height: 200px;
 }
 .menubar div{
    /* width: 252px; */
    height: 64px;
    padding:5px ;
    background-color: white;
    border-radius: 10px;
    text-align: center;

 }
 .menubar div a{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: black;
    
 }
 /* .menubar a::after{
    background-color: #DD0000;
    color: white;
 } */


/* card alignment */
.blogs, .matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}


 /* card design  */
 .blogCard{
    border: 1px solid rgba(128, 128, 128,0.2);
    border-radius: 10px;
 }
.blogCard img{
    width: 100%;
}
.cardDetails{
    margin: 20px;
}
.cardDetails button{
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: 500;
}
.cardDetails p{
    font-weight: 600;
    font-size: 18px;
}
.cardLogo{
    opacity: 0.7;
    display: flex;
    gap: 30px;
    margin: 20px;
}
.cardLogo i{
    margin-right: 5px;
}


/* ---------------
footer design 
--------------- */
footer{
    margin-top: 130px;
    padding: 100px;
    text-align: center;
    color: white;
    height: 244px;
    background-color: #161616;
}
footer h2{
    font-weight: 600;
    font-size: 40px;
}
footer hr{
    margin: 50px 100px;
    opacity: 0.1;
}
footer a{
    text-decoration: none;
    color: white;
    margin: 50px;
}

/* ------------------------------
upcoming matches section design 
--------------------------------- */
.match {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    padding: 40px;
}
.match span{
    font-weight: 700;
}
.flags{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.flags img{
    width: 100%;
}
.matchDescription{
    text-align: center;
}
.matchDescription p{
    opacity: 0.8;
}

/* ------------------------- */


/* -----------------
responsive for tablet
--------------------- */
/* @media screen and (min-width:768px) and (max-width:1023px) {
    
} */