/*----------------
 Common styles 
 ----------------*/
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 main{
    margin: 50px 140px 0px 140px;
 }

 /* ----------------
 banner section style 
 --------------------- */
 .banner{
    display:flex;
    /* width: 100%; */
    /* grid-template-columns: repeat(2,1fr); */
    background-color: #161616;
    border-radius: 30px;
    color: white;
    /* padding-top: 100px; */
    /* padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0; */
    align-items: center;
    margin-bottom: 130px;
    position: relative;
 }
 .bannerDetails{
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    width: 40%;
 }
 .bannerDetails h1{
    /* margin-left: 100px; */
    font-size: 70px;
    font-weight: 700;
    
    margin-bottom: 0;
 }
 .bannerDetails button{
    margin-top: 15px;
    color: white;
    background-color: #DD0000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
 }
 .bannerImg{
    width: 35%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: -4px;
    right: 0;
 }
 .bannerImg img{
    width: 100%;
    
    
 }


 /* ----------------------------
 main tile and menu section style
 -------------------------------  */
 .menuFeedContainer{
   
    display: grid;
    grid-template-columns: 1fr 3.4fr;
    gap: 24px;
 }
 .menubar{
    padding: 30px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 10px;
    height: 200px;
 }
 .menubar div{
    /* width: 252px; */
    height: 64px;
    padding:5px ;
    background-color: white;
    border-radius: 10px;
    text-align: center;

 }
 .menubar div a{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: black;
    
 }
 /* .menubar a::after{
    background-color: #DD0000;
    color: white;
 } */


/* card alignment */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}


 /* card design  */
 .blogCard{
    border: 1px solid rgba(128, 128, 128,0.2);
    border-radius: 10px;
 }
.blogCard img{
    width: 100%;
}
.cardDetails{
    margin: 20px;
}
.cardDetails button{
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: 500;
}
.cardDetails p{
    font-weight: 600;
    font-size: 18px;
}
.cardLogo{
    opacity: 0.7;
    display: flex;
    gap: 30px;
    margin: 20px;
}
.cardLogo i{
    margin-right: 5px;
}

/* hidden view allsection */
.viewAll{
    display: none;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.viewAll button{
    color: white;
    background-color: #DD0000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


/* ---------------
footer design 
--------------- */
footer{
    margin-top: 130px;
    padding: 10%;
    text-align: center;
    color: white;
    height: 244px;
    background-color: #161616;
}
footer h2{
    font-weight: 600;
    font-size: 40px;
}
footer hr{
    margin: 50px 100px;
    opacity: 0.1;
}
footer a{
    text-decoration: none;
    color: white;
}
.footerMenu{
    display: flex;
    column-gap: 60px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
/* ------------------------------
upcoming matches section design 
--------------------------------- */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.match {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    padding: 40px;
}
.match span{
    font-weight: 700;
}
.flags{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.flags img{
    width: 100%;
}
.matchDescription{
    text-align: center;
}
.matchDescription p{
    opacity: 0.8;
}

/* ------------------------- */


/* -----------------
responsive for tablet
--------------------- */
@media screen and (min-width:768px) and (max-width:1023px) {
    /* ----------------
     banner section style 
     --------------------- */
        main {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 0;
            /* background-color: #161616; */
        }
        .banner{
            margin-bottom: 50px;
        }
        .bannerDetails h1{
            font-size: 40px;
        }
        .menuFeedContainer {
        
            display: flex;
            flex-direction: column;
            /* gap: 24px; */
        }
        .menubar{
            background-color: white;
            flex-direction: row;
            justify-content: space-between;
            height: 30px;

        }
        .menubar div{
            width: 30%;
            height:40px;
            border: 1px solid rgba(128, 128, 128, 0.2);
        }

        .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
        }
        .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
        }
        .viewAll{
            display: block;
        }
        footer{
            margin-top: 0;
            height: 200px;
        }
        footer hr {
        margin: 50px 0;
        }
}